
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-family: FuturaLT;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;  
    font-size: 28px; 
    margin-left: 1em;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 2em;
    .option {
      padding: 10px 15px;
      cursor: pointer;
      font-size: 14px;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }
}